<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
          <p>I'm Bjorn, a games programmer & designer from the middle of Sweden. Currently working on my bachelor's in Game Design & Programming at Uppsala University.
          I have coding experience in C++ and C#, and I've mainly used Unity, Unreal Engine and OpenGL for projects during my studies.</p>
      </div>
      <div class="col-lg-4">
          <p>Outside of work I'm a huge fan of freeride/powder skiing, skateboarding and all things games & TTRPG!</p>
      </div>
    </div>
  </div>
</section>
